Repository dborodin836/hinkal-store, changes with the labels that .github/labeler.yml gives for each.
All labels: test, backend, frontend, docker, git, docs

.github/labeler.yml:

test:
  - frontend/src/app/**/*.spec.js
    backend/src/apps/**/tests/

backend:
  - backend/**/*

frontend:
  - frontend/**/*

docker:
  - backend/Dockerfile*
  - frontend/Dockerfile*
  - docker-compose*
  - backend/.dockerignore
  - frontend/.dockerignore

git:
  - .github/**/*
  - .gitignore
  - .gitattributes

docs:
  - LICENCE
  - README.md
  - backend/docs/*

FIX: Backend: removed unused isort dependency
  backend/requirements_dev.txt
Labels: backend

FIX: Backend: removed unused isort dependency (#104)
  backend/requirements_dev.txt
Labels: backend

bump django-stubs
  backend/requirements_dev.txt
Labels: backend

WIP: Backend: added python-dotenv dependency instead of self-implemented function
  backend/requirements.txt
  backend/src/apps/core/env.py
Labels: backend

WIP: Backend: added python-dotenv dependency instead of implemented function (#141)
  backend/requirements.txt
  backend/src/apps/core/env.py
Labels: backend

FEAT: Backend: added batch file to recreate db
  scripts/recreate_db.bat
  scripts/sql/close_db_connections.sql
Labels: none

FEAT: Backend: added batch file to recreate db (#143)
  scripts/recreate_db.bat
  scripts/sql/close_db_connections.sql
Labels: none

WIP: Backend: recreated migrations
  backend/src/apps/contact/migrations/0001_initial.py
  backend/src/apps/contact/migrations/0002_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0003_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0004_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0005_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0006_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0007_remove_contact_added_date_contact_created_at_and_more.py
  backend/src/apps/goods/migrations/0001_initial.py
  backend/src/apps/goods/migrations/0002_initial.py
  backend/src/apps/goods/migrations/0003_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0004_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0005_alter_dish_added_date_alter_dish_description_and_more.py
  backend/src/apps/goods/migrations/0006_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0007_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0008_comment.py
  backend/src/apps/goods/migrations/0009_alter_comment_options_remove_comment_added_by_and_more.py
  backend/src/apps/goods/migrations/0010_comment_level_comment_lft_comment_rght_and_more.py
  backend/src/apps/goods/migrations/0012_dish_times_bought.py
  backend/src/apps/goods/migrations/0013_category_dish_category.py
  backend/src/apps/goods/migrations/0014_alter_dish_added_by_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0015_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0016_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0017_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0018_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0019_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0020_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0021_remove_dish_added_date_category_added_by_and_more.py
  backend/src/apps/goods/migrations/0022_alter_dish_added_by.py
  backend/src/apps/orders/migrations/0001_initial.py
  backend/src/apps/orders/migrations/0002_initial.py
  backend/src/apps/orders/migrations/0002_remove_orderitem_order_order_details.py
  backend/src/apps/orders/migrations/0003_alter_order_ordered_by.py
  backend/src/apps/orders/migrations/0004_remove_order_details_orderitem_order.py
  backend/src/apps/orders/migrations/0005_alter_orderitem_order.py
  backend/src/apps/orders/migrations/0006_alter_orderitem_order.py
  backend/src/apps/orders/migrations/0007_alter_order_ordered_date.py
  backend/src/apps/orders/migrations/0008_remove_order_ordered_date_discount_created_at_and_more.py
  backend/src/apps/user/migrations/0001_initial.py
  backend/src/apps/user/migrations/0002_alter_customer_address.py
  backend/src/apps/user/migrations/0003_remove_useraddress_mobile_and_more.py
Labels: backend

WIP: Backend: recreated migrations (#146)
  backend/src/apps/contact/migrations/0001_initial.py
  backend/src/apps/contact/migrations/0002_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0003_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0004_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0005_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0006_alter_contact_added_date.py
  backend/src/apps/contact/migrations/0007_remove_contact_added_date_contact_created_at_and_more.py
  backend/src/apps/goods/migrations/0001_initial.py
  backend/src/apps/goods/migrations/0002_initial.py
  backend/src/apps/goods/migrations/0003_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0004_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0005_alter_dish_added_date_alter_dish_description_and_more.py
  backend/src/apps/goods/migrations/0006_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0007_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0008_comment.py
  backend/src/apps/goods/migrations/0009_alter_comment_options_remove_comment_added_by_and_more.py
  backend/src/apps/goods/migrations/0010_comment_level_comment_lft_comment_rght_and_more.py
  backend/src/apps/goods/migrations/0012_dish_times_bought.py
  backend/src/apps/goods/migrations/0013_category_dish_category.py
  backend/src/apps/goods/migrations/0014_alter_dish_added_by_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0015_alter_dish_added_date.py
  backend/src/apps/goods/migrations/0016_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0017_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0018_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0019_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0020_alter_dish_added_by.py
  backend/src/apps/goods/migrations/0021_remove_dish_added_date_category_added_by_and_more.py
  backend/src/apps/goods/migrations/0022_alter_dish_added_by.py
  backend/src/apps/orders/migrations/0001_initial.py
  backend/src/apps/orders/migrations/0002_initial.py
  backend/src/apps/orders/migrations/0002_remove_orderitem_order_order_details.py
  backend/src/apps/orders/migrations/0003_alter_order_ordered_by.py
  backend/src/apps/orders/migrations/0004_remove_order_details_orderitem_order.py
  backend/src/apps/orders/migrations/0005_alter_orderitem_order.py
  backend/src/apps/orders/migrations/0006_alter_orderitem_order.py
  backend/src/apps/orders/migrations/0007_alter_order_ordered_date.py
  backend/src/apps/orders/migrations/0008_remove_order_ordered_date_discount_created_at_and_more.py
  backend/src/apps/user/migrations/0001_initial.py
  backend/src/apps/user/migrations/0002_alter_customer_address.py
  backend/src/apps/user/migrations/0003_remove_useraddress_mobile_and_more.py
Labels: backend

WIP: Frontend: frontend typescript and html improvements
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/store/store.component.ts
  frontend/src/environments/environment.docker.ts
  frontend/tsconfig.json
Labels: frontend

WIP: fixed codestyle issues
  backend/src/apps/contact/migrations/0001_initial.py
  backend/src/apps/goods/migrations/0001_initial.py
  backend/src/apps/orders/migrations/0001_initial.py
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/store/store.component.ts
Labels: backend, frontend

WIP: Frontend: frontend typescript and html improvements (#147)
  backend/src/apps/contact/migrations/0001_initial.py
  backend/src/apps/goods/migrations/0001_initial.py
  backend/src/apps/orders/migrations/0001_initial.py
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/store/store.component.ts
  frontend/src/environments/environment.docker.ts
  frontend/tsconfig.json
Labels: backend, frontend

WIP
  backend/src/apiurls.py
  backend/src/apps/orders/api/viewsets.py
  frontend/package-lock.json
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/models/dish.model.ts
  frontend/src/app/models/dish.ts
  frontend/src/app/models/paginator.model.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/store/store.component.ts
Labels: backend, frontend

WIP added colored popups
  backend/src/apiurls.py
  backend/src/apps/orders/api/viewsets.py
  frontend/src/app/checkout/checkout.component.css
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/assets/img/hero_bg.jpg
  frontend/src/styles.css
Labels: backend, frontend

WIP: Frontend: fixed currency, refactored snackbar service, improvements in stylesheets
  frontend/src/app/checkout/checkout.component.css
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/snack-bar.service.spec.ts
  frontend/src/app/services/snack-bar.service.ts
  frontend/src/styles.css
Labels: frontend

WIP: Frontend: somewhat working order creation, bugfix
  frontend/src/app/checkout/checkout.component.css
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
  frontend/src/styles.css
Labels: frontend

FIX: Backend: fixed names for Category model in django-admin
  backend/src/apps/goods/models.py
Labels: backend

FIX: Frontend: prettier changes
  frontend/src/app/checkout/checkout.component.css
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/dish.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/snack-bar.service.ts
Labels: frontend

FIX: Frontend: fixed test
  frontend/src/app/services/snack-bar.service.spec.ts
Labels: frontend

FIX: Frontend: prettier changes
  frontend/src/app/services/snack-bar.service.spec.ts
Labels: frontend

Fix: discount fix and bugfixes (#150)
  backend/src/apps/goods/models.py
  backend/src/apps/orders/api/viewsets.py
  frontend/package-lock.json
  frontend/src/app/checkout/checkout.component.css
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/dish.model.ts
  frontend/src/app/models/dish.ts
  frontend/src/app/models/paginator.model.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/snack-bar.service.spec.ts
  frontend/src/app/services/snack-bar.service.ts
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
  frontend/src/app/store/store.component.ts
  frontend/src/assets/img/hero_bg.jpg
  frontend/src/styles.css
Labels: backend, frontend

FIX: Frontend: minor changes in hero
  frontend/src/app/home/home.component.scss
Labels: frontend

FEAT: Frontend: added loader, refactored snackbarmodule a bit
  frontend/src/app/app.module.ts
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/header/header.component.css
  frontend/src/app/home/home.component.ts
  frontend/src/app/loader/loader.component.css
  frontend/src/app/loader/loader.component.html
  frontend/src/app/loader/loader.component.spec.ts
  frontend/src/app/loader/loader.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/paginator.model.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/loader.service.spec.ts
  frontend/src/app/services/loader.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/messages.service.spec.ts
  frontend/src/app/services/messages.service.ts
  frontend/src/app/store/store.component.ts
  frontend/src/styles.css
Labels: frontend

FIX: Frontend: prettier fixes
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/loader/loader.component.css
  frontend/src/app/loader/loader.component.spec.ts
  frontend/src/app/loader/loader.component.ts
  frontend/src/app/models/paginator.model.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/loader.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/messages.service.ts
  frontend/src/app/store/store.component.ts
Labels: frontend

FEAT: Added loader (#154)
  frontend/src/app/app.module.ts
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/header/header.component.css
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.ts
  frontend/src/app/loader/loader.component.css
  frontend/src/app/loader/loader.component.html
  frontend/src/app/loader/loader.component.spec.ts
  frontend/src/app/loader/loader.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/loader.service.spec.ts
  frontend/src/app/services/loader.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/messages.service.spec.ts
  frontend/src/app/services/messages.service.ts
  frontend/src/app/store/store.component.ts
  frontend/src/styles.css
Labels: frontend

FIX: Backend: updated django-stubs and mypy
  backend/requirements_dev.txt
Labels: backend

FIX: Backend: updated drf-stubs
  backend/requirements_dev.txt
Labels: backend

FIX: Backend: moved mypy config to pyproject.toml
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/setup.cfg
Labels: backend, git

FIX: Backend: fixed (kinda) new mypy issues
  backend/src/apps/core/management/commands/populatedb.py
  backend/src/apps/goods/models.py
  backend/src/apps/user/models.py
Labels: backend

FIX: Backend: updated drf-yasg, pytz, tzdata
  backend/requirements.txt
Labels: backend

FIX: Backend: updated asgiref, coverage, sqlparse
  backend/requirements.txt
Labels: backend

FIX: Backend: updated django, drf, setuptools
  backend/requirements.txt
Labels: backend

WIP: Version bumps backend (#155)
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/requirements.txt
  backend/requirements_dev.txt
  backend/setup.cfg
  backend/src/apps/core/management/commands/populatedb.py
  backend/src/apps/goods/models.py
  backend/src/apps/user/models.py
Labels: backend, git

FIX: Backend: updated pre-commit, pytest, pytest-cov
  backend/requirements_dev.txt
Labels: backend

Updated dev dependencies (#156)
  backend/requirements_dev.txt
Labels: backend

FIX: Frontend: upgraded frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

FIX: Frontend: upgraded frontend dependencies (#157)
  frontend/package-lock.json
  frontend/package.json
Labels: frontend
