Repository dborodin836/hinkal-store, changes with the labels that .github/labeler.yml gives for each.
All labels: test, backend, frontend, docker, git, docs

.github/labeler.yml:

test:
  - frontend/src/app/**/*.spec.js
    backend/src/apps/**/tests/

backend:
  - backend/**/*

frontend:
  - frontend/**/*

docker:
  - backend/Dockerfile*
  - frontend/Dockerfile*
  - docker-compose*
  - backend/.dockerignore
  - frontend/.dockerignore

git:
  - .github/**/*
  - .gitignore
  - .gitattributes

docs:
  - LICENCE
  - README.md
  - backend/docs/*

WIP: fixed docker media files serving, fixed configuration in angular
  docker-compose-prod-build.yml
  frontend/Dockerfile
  frontend/src/environments/environment.prod.ts
  nginx/nginx.conf.prod
Labels: frontend, docker

FIX: fixed docker-compose-prod-pull.yml accordingly to last commit
  docker-compose-prod-pull.yml
Labels: docker

FIX: updated frontend host var in django settings
  backend/src/apps/goods/api/serializers.py
  backend/src/settings.py
Labels: backend

FIX: added local demo for docker compose, updated test enviroment
  README.md
  backend/docker.env
  backend/test.env
  docker-compose-local.yml
  frontend/Dockerfile.local
  frontend/src/environments/environment.docker.ts
  nginx/nginx.conf.docker
Labels: backend, frontend, docker, docs

FIX: check frontend fix for docker-compose Healthschecks
  .github/workflows/ci.yml
Labels: git

FIX: check backend fix for docker-compose Healthschecks
  .github/workflows/ci.yml
Labels: git

Docker compose prod (#68)
  .github/workflows/ci.yml
  .gitignore
  README.md
  backend/.dockerignore
  backend/Dockerfile.prod
  backend/docker.env
  backend/src/apps/goods/api/serializers.py
  backend/src/settings.py
  backend/test.env
  docker-compose-prod-build.yml
  docker-compose-prod-pull.yml
  frontend/Dockerfile
  frontend/Dockerfile.local
  frontend/local.dockerignore
  frontend/src/environments/environment.docker.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  nginx/nginx.conf.docker
  nginx/nginx.conf.prod
  scripts/docker-build-push-images.bat
Labels: backend, frontend, docker, git, docs

FIX: updated npm deps
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

WIP: minor versions updates
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

Revert "WIP: minor versions updates"
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

WIP: fixed backend host in angular
  frontend/src/environments/environment.ts
Labels: frontend

WIP: added disclaimer to main page
  frontend/src/app/header/header.component.css
  frontend/src/app/header/header.component.html
Labels: frontend

Disclaimer (#73)
  frontend/src/app/header/header.component.css
  frontend/src/app/header/header.component.html
  frontend/src/environments/environment.ts
Labels: frontend

WIP: now using local storage to store user data; removed unused service
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

WIP: prettier reformat
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/login.service.ts
Labels: frontend

WIP: now using local storage to store user data; removed unused service (#74)
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

FIX: fixed routing and login not working in docker compose due to faulty nginx configuration
  docker-compose-local.yml
  docker-compose-prod-build.yml
  docker-compose-prod-pull.yml
  nginx/nginx.conf.docker
  nginx/nginx.conf.prod
Labels: docker

WIP: additional nginx configuration
  nginx/nginx.conf.docker
  nginx/nginx.conf.prod
Labels: none

Routing fixes (#78)
  docker-compose-local.yml
  docker-compose-prod-build.yml
  docker-compose-prod-pull.yml
  nginx/nginx.conf.docker
  nginx/nginx.conf.prod
Labels: docker

FIX: Frontend: removed unused code in dish-detail.component
  frontend/src/app/dish-detail/dish-detail.component.html
  frontend/src/app/dish-detail/dish-detail.component.scss
Labels: frontend

FIX: Frontend: removed coments in footer
  frontend/src/app/footer/footer.component.css
  frontend/src/app/footer/footer.component.html
Labels: frontend

FIX: Frontend: fixed button function
  frontend/src/app/dish-detail/dish-detail.component.html
  frontend/src/app/dish-detail/dish-detail.component.ts
Labels: frontend

FIX: Frontend: removed rating from frontend and comments
  frontend/src/app/home/home.component.html
  frontend/src/app/store/store.component.html
Labels: frontend

WIP: Frontend: fixed delete function, added function to check if dish in cart
  frontend/src/app/home/home.component.ts
  frontend/src/app/services/cart.service.ts
Labels: frontend

WIP: Frontend: added color change if dish is in cart in homepage
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
Labels: frontend

WIP: Frontend: added color change if dish is in cart in store page
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
  frontend/src/app/store/store.component.ts
Labels: frontend

WIP: Backend: squashed some migrations
  backend/src/apps/contact/migrations/0001_contact.py
  backend/src/apps/goods/migrations/0001_goods.py
  backend/src/apps/goods/migrations/0002_alter_comment_level_alter_comment_lft_and_more.py
  backend/src/apps/orders/migrations/0001_orders.py
  backend/src/apps/user/migrations/0001_user.py
Labels: backend

WIP: Backend: deleted mptt Comment model
  backend/src/apps/goods/admin.py
  backend/src/apps/goods/migrations/0003_delete_comment.py
  backend/src/apps/goods/models.py
Labels: backend

WIP: Backend: fixed plural name on Category model in django admin page
  backend/src/apps/goods/models.py
Labels: backend

WIP: Backend: removed unused django-mptt package
  backend/requirements.txt
Labels: backend

WIP: Backend: removed OrderModifier model
  backend/src/apps/core/management/commands/cleardb.py
  backend/src/apps/goods/migrations/0004_alter_category_options.py
  backend/src/apps/orders/admin.py
  backend/src/apps/orders/api/serializers.py
  backend/src/apps/orders/migrations/0002_remove_order_modifier_delete_ordermodifier.py
  backend/src/apps/orders/models.py
Labels: backend

WIP: Backend: removed Country model
  backend/src/apps/user/admin.py
  backend/src/apps/user/migrations/0002_remove_useraddress_county_delete_country.py
  backend/src/apps/user/models.py
  backend/src/apps/user/test/test_model.py
Labels: backend

WIP: Backend: removed UserAddress model
  backend/src/apps/user/admin.py
  backend/src/apps/user/migrations/0003_alter_customer_address.py
  backend/src/apps/user/models.py
  backend/src/apps/user/test/test_model.py
Labels: backend

FIX: Frontend: fixed url for individual dish in store page
  frontend/src/app/store/store.component.html
Labels: frontend

FIX: Frontend: codestyle issues fixes
  frontend/src/app/dish-detail/dish-detail.component.html
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/services/cart.service.ts
  frontend/src/app/store/store.component.html
Labels: frontend

FIX: Frontend: fixed broken test
  frontend/src/app/dish-detail/dish-detail.component.spec.ts
Labels: frontend

WIP: Remove unused html (#100)
  frontend/src/app/dish-detail/dish-detail.component.html
  frontend/src/app/dish-detail/dish-detail.component.scss
  frontend/src/app/dish-detail/dish-detail.component.spec.ts
  frontend/src/app/dish-detail/dish-detail.component.ts
  frontend/src/app/footer/footer.component.css
  frontend/src/app/footer/footer.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
  frontend/src/app/store/store.component.ts
Labels: frontend

WIP: Frontend: updated some packages
  frontend/.browserslistrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test.ts
  frontend/tsconfig.json
Labels: frontend

WIP: Frontend: changed typescript version to 4.9.5
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

WIP: Frontend: updated some packages (#103)
  frontend/.browserslistrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test.ts
  frontend/tsconfig.json
Labels: frontend
