Repository dborodin836/hinkal-store, changes with the labels that .github/labeler.yml gives for each.
All labels: test, backend, frontend, docker, git, docs

Docker tweaks (#154)
  README.md
  backend/src/apps/core/management/commands/sadmin.py
  backend/src/apps/core/management/commands/wait_for_db.py
  docker-compose.yml
Labels: backend, docker, docs

FEAT: fixed populatedb command (#155)
  backend/src/apps/core/management/commands/populatedb.py
Labels: backend

Fix docker local (#169)
  .github/workflows/ci.yml
  README.md
  backend/docker.env
  docker-compose-local.yml
  frontend/Dockerfile.docker
  frontend/angular.json
  frontend/src/app/conf.ts
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/contact.service.ts
  frontend/src/app/services/dish.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/environments/environment.docker.ts
Labels: backend, frontend, docker, git, docs

FEAT: Frontend: added dependabot to npm (#173)
  .github/dependabot.yml
Labels: git

Feat demo data (#187)
  backend/docs/fixtures.md
  backend/fixtures/demo_data.json
  backend/fixtures/important.txt
  backend/media/photos/2022/10/12/7f7f00e6e6-1_1000x.jpg
  backend/media/photos/2022/10/12/kali-vintage-ceramic-bowls-georgian-hinkali-158835659.jpg
  backend/media/photos/2022/10/12/p_O.jpg
  backend/media/photos/2022/10/12/restaurant-198355_1920.jpg
  backend/media/photos/2022/10/12/изображение_2022-10-12_143257478.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143417716.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143519785.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143634085.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143702913.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143850756.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_143958725.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144113810.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144208353.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144302064.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144327629.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144414481.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_144941663.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145215361.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145249626.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145401873.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145501607.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145532720.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145618232.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145653201.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145735295.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145842697.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_145954464.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_150033178.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_150117527.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_150150856.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_150252109.png
  backend/media/photos/2022/10/12/изображение_2022-10-12_150333445.png
  docker-compose-local.yml
Labels: backend, docker, docs

WIP: removed commented code (#193)
  .pre-commit-config.yaml
Labels: none

FEAT: Backend: additional tests and str, repr methods (#195)
  .github/workflows/label.yml
  backend/src/apps/goods/models.py
  backend/src/apps/goods/tests/test_model.py
Labels: backend, git

FIX: Backend: set specific version for python in Dockerfiles (#219)
  backend/Dockerfile
  backend/Dockerfile.prod
Labels: backend, docker

Added scheduled ci runs on every Monday (#220)
  .github/workflows/ci.yml
Labels: git

Fixed build badge (#224)
  README.md
Labels: docs

Added flags to codecov reports (#225)
  .github/workflows/ci.yml
  README.md
Labels: git, docs

Update dependabot.yml (#226)
  .github/dependabot.yml
Labels: git

FIX: Backend: removed unused serializer, add tests
  backend/manage.py
  backend/requirements_dev.txt
  backend/src/apps/user/api/viewsets.py
  backend/src/apps/user/models.py
  backend/src/apps/user/serializers.py
  backend/src/apps/user/test/test_model.py
Labels: backend

Revert "FIX: Backend: removed unused serializer, add tests"
  backend/manage.py
  backend/requirements_dev.txt
  backend/src/apps/user/api/viewsets.py
  backend/src/apps/user/models.py
  backend/src/apps/user/serializers.py
  backend/src/apps/user/test/test_model.py
Labels: backend

FIX: Backend: additional tests (#247)
  backend/manage.py
  backend/requirements_dev.txt
  backend/src/apps/user/api/viewsets.py
  backend/src/apps/user/models.py
  backend/src/apps/user/serializers.py
  backend/src/apps/user/test/test_model.py
Labels: backend

FIX: Frontend: fixed logout url
  frontend/src/app/services/login.service.ts
Labels: frontend

WIP: deleted unused scripts
  scripts/backend.bat
  scripts/create_superuser.bat
  scripts/deploy_debug.bat
  scripts/flake8.bat
  scripts/frontend.bat
  scripts/mypy.bat
  scripts/start_site.bat
Labels: none

FIX: backend: fixed auth through rest framework
  backend/src/settings.py
Labels: backend

WIP: Frontend: html/css/ts improvements
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
Labels: frontend

WIP: Frontend: removed unused components
  frontend/src/app/vendor-login/vendor-login.component.css
  frontend/src/app/vendor-login/vendor-login.component.html
  frontend/src/app/vendor-login/vendor-login.component.spec.ts
  frontend/src/app/vendor-login/vendor-login.component.ts
  frontend/src/app/vendor-register/vendor-register.component.css
  frontend/src/app/vendor-register/vendor-register.component.html
  frontend/src/app/vendor-register/vendor-register.component.spec.ts
  frontend/src/app/vendor-register/vendor-register.component.ts
Labels: frontend

WIP: removed some unused code, added api-view to check for discount code status
  backend/src/apiurls.py
  backend/src/apps/core/management/commands/populatedb.py
  backend/src/apps/orders/api/serializers.py
  backend/src/apps/orders/api/viewsets.py
  frontend/src/app/app.module.ts
  frontend/src/app/services/login.service.ts
Labels: backend, frontend

WIP: codestyle issues
  README.md
  backend/src/apps/orders/api/serializers.py
  backend/src/apps/orders/api/viewsets.py
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/store/store.component.css
Labels: backend, frontend, docs

WIP: codestyle issues pt2
  backend/src/apiurls.py
  frontend/src/app/services/cart.service.ts
Labels: backend, frontend

WIP: possible fix
  frontend/src/app/checkout/checkout.component.html
Labels: frontend

WIP: possible fix pt2
  frontend/src/app/checkout/checkout.component.html
Labels: frontend

Feat (#33)
  README.md
  backend/src/apiurls.py
  backend/src/apps/core/management/commands/populatedb.py
  backend/src/apps/orders/api/serializers.py
  backend/src/apps/orders/api/viewsets.py
  backend/src/settings.py
  frontend/src/app/app.module.ts
  frontend/src/app/checkout/checkout.component.html
  frontend/src/app/checkout/checkout.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/services/cart.service.ts
  frontend/src/app/services/login.service.ts
  frontend/src/app/store/store.component.css
  frontend/src/app/store/store.component.html
  frontend/src/app/vendor-login/vendor-login.component.css
  frontend/src/app/vendor-login/vendor-login.component.html
  frontend/src/app/vendor-login/vendor-login.component.spec.ts
  frontend/src/app/vendor-login/vendor-login.component.ts
  frontend/src/app/vendor-register/vendor-register.component.css
  frontend/src/app/vendor-register/vendor-register.component.html
  frontend/src/app/vendor-register/vendor-register.component.spec.ts
  frontend/src/app/vendor-register/vendor-register.component.ts
  scripts/backend.bat
  scripts/create_superuser.bat
  scripts/deploy_debug.bat
  scripts/flake8.bat
  scripts/frontend.bat
  scripts/mypy.bat
  scripts/start_site.bat
Labels: backend, frontend, docs

FEAT: added docker-compose-prod.yml. more testing needed in cloud
  docker-compose-prod.yml
  frontend/Dockerfile
Labels: frontend, docker

FEAT: added Dockerfile to push image to DockerHub
  docker-compose-local.yml
  docker-compose-prod.yml
  frontend/Dockerfile.local
  frontend/local.dockerignore
Labels: frontend, docker

WIP: rewrote some tests using rest_framework.status
  backend/src/apps/contact/tests/test_api.py
  backend/src/apps/contact/tests/test_permissions.py
Labels: backend

WIP: codestyle issues fixed
  backend/src/apps/contact/tests/test_permissions.py
Labels: backend

WIP: rewrote some tests using rest_framework.status (#64)
  backend/src/apps/contact/tests/test_api.py
  backend/src/apps/contact/tests/test_permissions.py
Labels: backend

WIP: added gunicorn, changed server name
  docker-compose-prod.yml
  frontend/src/environments/environment.docker.ts
Labels: frontend, docker

WIP: added static files serving in prod with nginx, updated .dockerignore and .gitignore files, changes in containers naming
  .gitignore
  backend/.dockerignore
  backend/src/apps/goods/api/serializers.py
  backend/src/settings.py
  docker-compose-prod.yml
  frontend/Dockerfile
  frontend/src/environments/environment.docker.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  nginx/nginx.conf.prod
Labels: backend, frontend, docker, git

WIP: removed redundant ports forwarding in docker-compose-prod.yml
  docker-compose-prod.yml
Labels: docker

WIP: fixed django always being in debug mode
  backend/src/settings.py
Labels: backend

WIP: exposed used ports in docker-compose-prod.yml
  docker-compose-prod.yml
Labels: docker

WIP: changed .env file to prod.env in docker-compose-prod-build.yml
  docker-compose-prod-build.yml
Labels: docker

WIP: removed unnecessary Dockerfile.prod
  backend/Dockerfile.prod
  docker-compose-prod-build.yml
Labels: backend, docker

WIP: added docker-compose-prod-pull.yml to run docker-compose from pulled images
  docker-compose-prod-pull.yml
Labels: docker

WIP: added a script to automatically build and push frontend and backend images
  scripts/docker-build-push-images.bat
Labels: none

.github/labeler.yml:

test:
  - frontend/src/app/**/*.spec.js
    backend/src/apps/**/tests/

backend:
  - backend/**/*

frontend:
  - frontend/**/*

docker:
  - backend/Dockerfile*
  - frontend/Dockerfile*
  - docker-compose*
  - backend/.dockerignore
  - frontend/.dockerignore

git:
  - .github/**/*
  - .gitignore
  - .gitattributes

docs:
  - LICENCE
  - README.md
  - backend/docs/*
